.box {
    position: relative;
    width: var(--w);
    height: calc(var(--topH) + var(--frontH));
}

/* TOP FACE = RECTANGLE */
.box-top {
    position: absolute;
    top: 0;
    left: 0;

    width: var(--w);
    height: var(--topH);

    background: #c9ab02;
}

/* FRONT FACE = TRAPEZOID */
.box-front {
    position: absolute;
    top: var(--topH);
    left: 0;

    width: var(--w);
    height: var(--frontH);

    background: #ffffff;

    /* Perspective trapezoid: narrower at bottom */
    clip-path: polygon(0% 0%,
            100% 0%,
            calc(100% - var(--inset)) 100%,
            var(--inset) 100%);
}